<% layout('/layout/boilerplate') %> 
<div class="row mb-5">
  <div class="col-6 offset-3">
    <div class="card">
      <img src="<%= company.image %>" class="card-img-top" alt="">
      <div class="card-body">
        <h3 class="card-title"><%= company.name %></h3>
        <p class="card-text"><%= company.description  %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><h5><%= company.location  %></h5></li>
        <li class="list-group-item text-bold"><%= company.type %></li>
      </ul>
      <div class="card-body">
        <a href="/companies/<%= company._id %>/edit" class="card-link btn btn-info">Edit Company</a>
        <form class="d-inline" action="/companies/<%= company._id %>/?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete Company</button>
        </form>
      </div>
    </div>
  </div>
</div>
<a href="/companies">All Companies</a>